.main-page {
    width: 40%;
    float: left;
}
.main-page p {
    width: 80%;
    letter-spacing: 1.5px;
    line-height: 2.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

div img {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
