@media screen and (max-width: 600px) {
    .main-page {
        width: 100% !important; 
        float: none !important;
        padding-top: 100px !important;
    }
    .horizontal-line {
        width: 100% !important; 
        float: none !important;

    }
    .main-page p{ 
        width: 100% !important;
        letter-spacing: 1.2px !important;
        line-height: 2 !important;

        
    }
    .img {
        display: none;
    }
}

.main-page {
    width: 40%;
    float: left;
}
.main-page p {
    width: 80%;
    letter-spacing: 1.5px;
    line-height: 2.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

div img {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-line {
    display: flex;
    border-top: 1.25px solid black;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 50px;
    width: 80%;
}
