.sub-page {
    float: right;
    width: 58%;
}

.sub-page div{
    letter-spacing: 1.2px;
    line-height: 1.2;
}

.sub-page-home {
    padding: 170px 0;
}

.sub-page-home-greetings {
    display: inline-block;
    position: relative;
    height: auto;
    width:240px;
    color: white;
    text-indent: 10px;
    background-color: grey;
    font-weight: 700;
}

.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 18px;
	bottom: auto;
	border: 12px solid;
	border-color: grey grey transparent transparent;

}

.row-education {
    width: 100%;
    text-align: left;
    padding-top: 40px;
    /* border: solid red; */

}

.col-education {
    margin: 0 auto ;
    display: inline-block;
    overflow: auto;
    /* text-align: left; */
    /* min-height: 20px;    */
    

}

.left {
    width:50%;
    /* border: solid blue; */

}

.date {
    width: 40%;
    float: right;
    /* border: solid aqua; */
    padding-top: 25px;
    text-align: center;
    color: grey;
}

.icon-container {
    /* border: solid red; */
    text-align: center;
    padding-top: 200px;
}

.contact {
    width: 70%;
    margin-top: 150px;
    /* border: solid grey; */
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}